### import libraries

In [1]:
import pandas as pd
import numpy as np

### reading files

In [2]:
companies=pd.read_table(r'C:\Users\muskan\Desktop\New folder\companies.txt',encoding='ISO-8859-1')
rounds2=pd.read_csv(r'C:\Users\muskan\Desktop\New folder\rounds2.csv',encoding='ISO-8859-1')

In [3]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   permalink      66368 non-null  object
 1   name           66367 non-null  object
 2   homepage_url   61310 non-null  object
 3   category_list  63220 non-null  object
 4   status         66368 non-null  object
 5   country_code   59410 non-null  object
 6   state_code     57821 non-null  object
 7   region         58338 non-null  object
 8   city           58340 non-null  object
 9   founded_at     51147 non-null  object
dtypes: object(10)
memory usage: 5.1+ MB

In [4]:
rounds2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114949 entries, 0 to 114948
Data columns (total 6 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   company_permalink        114949 non-null  object
 1   funding_round_permalink  114949 non-null  object
 2   funding_round_type       114949 non-null  object
 3   funding_round_code       31140 non-null   object
 4   funded_at                114949 non-null  object
 5   raised_amount_usd        94959 non-null   float64
dtypes: float64(1), object(5)
memory usage: 5.3+ MB

In [5]:
companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [6]:
rounds2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [7]:
companies.isnull().sum()

permalink            0
name                 1
homepage_url      5058
category_list     3148
status               0
country_code      6958
state_code        8547
region            8030
city              8028
founded_at       15221
dtype: int64

In [8]:
rounds2.isnull().sum()

company_permalink              0
funding_round_permalink        0
funding_round_type             0
funding_round_code         83809
funded_at                      0
raised_amount_usd          19990
dtype: int64

# checkpoints 1: Data Cleaning 1

In [9]:
# removing the junk data and change the column data(company_permalink)
rounds2['company_permalink']=rounds2['company_permalink'].apply(lambda x:x.encode('utf-8').decode('ascii','ignore'))
companies['permalink']=companies['permalink'].apply(lambda x:x.encode('utf-8').decode('ascii','ignore'))

In [10]:
rounds2.head(2)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN

In [11]:
companies.head(2)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014

In [12]:
rounds2.shape

(114949, 6)

In [13]:
companies.shape

(66368, 10)

In [14]:
rounds2['company_permalink'].unique()

array(['/organization/-fame', '/ORGANIZATION/-QOUNTER',
       '/organization/-qounter', ..., '/organization/eron',
       '/ORGANIZATION/ASYS-2',
       '/organization/novatiff-reklam-ve-tantm-hizmetleri-tic'],
      dtype=object)

In [15]:
len(rounds2['company_permalink'].unique())

90247

### converting all data in lower case

In [16]:
rounds2['company_permalink']=rounds2['company_permalink'].apply(lambda x:x.lower())

### unique companies in rounds2

In [17]:
len(rounds2['company_permalink'].unique())

66368

In [18]:
companies['permalink']=companies['permalink'].apply(lambda x:x.lower())

### unique companies in companies

In [19]:
len(companies['permalink'].unique())

66368

# merging two data frames

In [20]:
master_frame=pd.merge(rounds2,companies,how='inner',left_on='company_permalink',right_on='permalink')

In [21]:
master_frame.head(2)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014

In [22]:
master_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   company_permalink        114949 non-null  object
 1   funding_round_permalink  114949 non-null  object
 2   funding_round_type       114949 non-null  object
 3   funding_round_code       31140 non-null   object
 4   funded_at                114949 non-null  object
 5   raised_amount_usd        94959 non-null   float64
 6   permalink                114949 non-null  object
 7   name                     114948 non-null  object
 8   homepage_url             108815 non-null  object
 9   category_list            111539 non-null  object
 10  status                   114949 non-null  object
 11  country_code             106271 non-null  object
 12  state_code               104003 non-null  object
 13  region                   104782 non-null  object
 14  city                     104785 non-null  object
 15  founded_at               94428 non-null   object
dtypes: float64(1), object(15)
memory usage: 14.9+ MB

In [23]:
master_frame.isnull().sum()

company_permalink              0
funding_round_permalink        0
funding_round_type             0
funding_round_code         83809
funded_at                      0
raised_amount_usd          19990
permalink                      0
name                           1
homepage_url                6134
category_list               3410
status                         0
country_code                8678
state_code                 10946
region                     10167
city                       10164
founded_at                 20521
dtype: int64

In [24]:
#### percentage of null values #####
def per_check(master_frame):
    return(round(100*master_frame.isnull().sum()/len(master_frame),2))

In [25]:
per_check(master_frame)

company_permalink           0.00
funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         72.91
funded_at                   0.00
raised_amount_usd          17.39
permalink                   0.00
name                        0.00
homepage_url                5.34
category_list               2.97
status                      0.00
country_code                7.55
state_code                  9.52
region                      8.84
city                        8.84
founded_at                 17.85
dtype: float64

In [26]:
#### to check if any column is completely empty ####
master_frame.isnull().all()

company_permalink          False
funding_round_permalink    False
funding_round_type         False
funding_round_code         False
funded_at                  False
raised_amount_usd          False
permalink                  False
name                       False
homepage_url               False
category_list              False
status                     False
country_code               False
state_code                 False
region                     False
city                       False
founded_at                 False
dtype: bool

In [27]:
#### to check if any row is completely empty ####
master_frame.isnull().all(axis=1)

0         False
1         False
2         False
3         False
4         False
          ...
114944    False
114945    False
114946    False
114947    False
114948    False
Length: 114949, dtype: bool

  # Drop un-necessary columns

In [28]:
per_check(master_frame)

company_permalink           0.00
funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         72.91
funded_at                   0.00
raised_amount_usd          17.39
permalink                   0.00
name                        0.00
homepage_url                5.34
category_list               2.97
status                      0.00
country_code                7.55
state_code                  9.52
region                      8.84
city                        8.84
founded_at                 17.85
dtype: float64

In [29]:
master_frame=master_frame.drop(['funding_round_code','funded_at','city','state_code','homepage_url','region','status','funding_round_permalink','permalink','founded_at'],axis=1)

In [30]:
master_frame.head(2)

,company_permalink,funding_round_type,raised_amount_usd,name,category_list,country_code
0,/organization/-fame,venture,10000000.0,#fame,Media,IND
1,/organization/-qounter,venture,NaN,:Qounter,Application Platforms|Real Time|Social Network...,USA

In [31]:
master_frame.isnull().sum()

company_permalink         0
funding_round_type        0
raised_amount_usd     19990
name                      1
category_list          3410
country_code           8678
dtype: int64

In [32]:
per_check(master_frame)

company_permalink      0.00
funding_round_type     0.00
raised_amount_usd     17.39
name                   0.00
category_list          2.97
country_code           7.55
dtype: float64

# treat the null values of important columns

In [33]:
master_frame['raised_amount_usd'].describe().astype(int)

count         94959
mean       10426869
std       114821247
min               0
25%          322500
50%         1680511
75%         7000000
max     -2147483648
Name: raised_amount_usd, dtype: int32

In [34]:
master_frame=master_frame[~np.isnan(master_frame['raised_amount_usd'])]

In [35]:
master_frame.isnull().sum()

company_permalink        0
funding_round_type       0
raised_amount_usd        0
name                     1
category_list         1044
country_code          5851
dtype: int64

In [36]:
per_check(master_frame)

company_permalink     0.00
funding_round_type    0.00
raised_amount_usd     0.00
name                  0.00
category_list         1.10
country_code          6.16
dtype: float64

In [37]:
master_frame['category_list'].describe()

count             93915
unique            23485
top       Biotechnology
freq               7773
Name: category_list, dtype: object

In [38]:
master_frame=master_frame[~master_frame['category_list'].isnull()]

In [39]:
master_frame.isnull().sum()

company_permalink        0
funding_round_type       0
raised_amount_usd        0
name                     1
category_list            0
country_code          5386
dtype: int64

In [40]:
master_frame['country_code'].describe()

count     88529
unique      134
top         USA
freq      61692
Name: country_code, dtype: object

In [41]:
master_frame=master_frame[~master_frame['country_code'].isnull()]

In [42]:
master_frame.isnull().sum()

company_permalink     0
funding_round_type    0
raised_amount_usd     0
name                  1
category_list         0
country_code          0
dtype: int64

In [43]:
master_frame['name'].describe()

count                         88528
unique                        48600
top       Solarflare Communications
freq                             19
Name: name, dtype: object

In [44]:
master_frame=master_frame[~master_frame['name'].isnull()]

In [45]:
master_frame.isnull().sum()

company_permalink     0
funding_round_type    0
raised_amount_usd     0
name                  0
category_list         0
country_code          0
dtype: int64

In [46]:
per_check(master_frame)

company_permalink     0.0
funding_round_type    0.0
raised_amount_usd     0.0
name                  0.0
category_list         0.0
country_code          0.0
dtype: float64

In [47]:
master_frame.to_csv('master_frame_clean_file.csv',index=False)

In [48]:
master_frame=pd.read_csv(r'master_frame_clean_file.csv')

In [49]:
master_frame.head()

,company_permalink,funding_round_type,raised_amount_usd,name,category_list,country_code
0,/organization/-fame,venture,10000000.0,#fame,Media,IND
1,/organization/-qounter,seed,700000.0,:Qounter,Application Platforms|Real Time|Social Network...,USA
2,/organization/0-6-com,venture,2000000.0,0-6.com,Curated Web,CHN
3,/organization/01games-technology,undisclosed,41250.0,01Games Technology,Games,HKG
4,/organization/0ndine-biomedical-inc,seed,43360.0,Ondine Biomedical Inc.,Biotechnology,CAN

In [50]:
master_frame.shape

(88528, 6)

In [51]:
master_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88528 entries, 0 to 88527
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   company_permalink   88528 non-null  object
 1   funding_round_type  88528 non-null  object
 2   raised_amount_usd   88528 non-null  float64
 3   name                88528 non-null  object
 4   category_list       88528 non-null  object
 5   country_code        88528 non-null  object
dtypes: float64(1), object(5)
memory usage: 4.1+ MB